<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="top">
</div>
<div class="img">
<img src="https://i.imgur.com/blQ93tU.jpg" alt="">
</div>
<div class="mid">
    <ion-item>
      <ion-input placeholder="Chứng minh nhân dân"></ion-input>
    </ion-item>
</div>
<div class="bot">
  <ion-button>ĐĂNG NHẬP</ion-button>
</div>

</ion-content>
